* 
	overflow hidden
.encabezado
	background-color #FF0000
	p
		text-align center
		font-weight bold
		color white

	.logomich 
		height 115px		
		background-color white
	.logogob
		height 115px		
		background-color white
.menu	
	li
		color black
		&:hover ul 
			position:relative
			left:0
	color black	
	background-color #D3D3D3
	top 115px
	height 100%
.contenedor
	top 115px
	height 100%
.cuerpo
	height 100%
	background-image: -webkit-gradient(linear,right bottom,right top,color-stop(0.37, #FCEFEF),	color-stop(0.78, #FA9B9B),color-stop(1, #FF0000));
	background-image: -o-linear-gradient(top, #FCEFEF 37%, #FA9B9B 78%, #FF0000 100%);
	background-image: -moz-linear-gradient(top, #FCEFEF 37%, #FA9B9B 78%, #FF0000 100%);
	background-image: -webkit-linear-gradient(top, #FCEFEF 37%, #FA9B9B 78%, #FF0000 100%);
	background-image: -ms-linear-gradient(top, #FCEFEF 37%, #FA9B9B 78%, #FF0000 100%);
	background-image: linear-gradient(to top, #FCEFEF 37%, #FA9B9B 78%, #FF0000 100%);
	padding-left 0px 
.first
	padding-right 0px 
.centrado
	float none
	position absolute
	top 30%
	left 30%
	width 30%	
.note 
		background-color #ffffff 
		padding 10px 0 
		color #333333
		border-radius 5px
		-moz-border-radius 5px 
		-webkit-border-radius 5px
		box-shadow 0 1px 1px 0 rgba(0.2, 0.2, 0.2, 0.9)
		-moz-box-shadow 0 1px 1px 0 rgba(0.2, 0.2, 0.2, 0.9)
		-webkit-box-shadow 0 1px 1px 0 rgba(0.2, 0.2, 0.2, 0.9)